.registration-box-container {
  height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
  margin: 0 auto;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}



.registration-box {
  margin: 5%;
}

.registration-box-left {
  position: relative;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    142deg,
    rgba(251, 251, 251, 1) 0%,
    rgba(255, 255, 255, 1) 1%,
    rgba(229, 211, 217, 1) 6%,
    rgba(222, 198, 206, 1) 8%,
    rgba(211, 177, 188, 1) 12%,
    rgba(191, 123, 144, 1) 20%,
    rgba(186, 109, 133, 1) 27%,
    rgba(177, 84, 113, 1) 37%,
    rgba(171, 69, 100, 1) 45%,
    rgba(161, 41, 77, 1) 57%,
    rgba(155, 39, 74, 1) 64%,
    rgba(135, 35, 65, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.registration-box-left-text {
  color: white;
}

.registration-box-wave {
  position: absolute;
  height: 100%;
  right: 0;
}

.css-1iai66b-MuiFormHelperText-root {
  position: absolute !important;
  bottom: -20px !important;
}

/* login */

.registration-box-container {
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden;
}

.registration-box {
  margin: 5%;
}

.registration-box-left {
  position: relative;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    142deg,
    rgba(251, 251, 251, 1) 0%,
    rgba(255, 255, 255, 1) 1%,
    rgba(229, 211, 217, 1) 6%,
    rgba(222, 198, 206, 1) 8%,
    rgba(211, 177, 188, 1) 12%,
    rgba(191, 123, 144, 1) 20%,
    rgba(186, 109, 133, 1) 27%,
    rgba(177, 84, 113, 1) 37%,
    rgba(171, 69, 100, 1) 45%,
    rgba(161, 41, 77, 1) 57%,
    rgba(155, 39, 74, 1) 64%,
    rgba(135, 35, 65, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.registration-box-wave {
  position: absolute;
  height: 100%;
  right: 0;
}

.form-button {
  display: flex;
  justify-content: center;
}

#textfield-serviceNumber-helper-text,
#textfield-password-helper-text {
  position: absolute !important;
  bottom: -20px !important;
}

.css-1nrlq1o-MuiFormControl-root {
  width: 100%;
}
/* @media screen and (max-width: 820px) {
  .registration-box-wave {
    display: none;
  }

  .registration-box-left {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
} */
/* date picker */



.css-5f571a-MuiPaper-root-MuiDrawer-paper{
    position: relative !important;
}

.css-13cymwt-control{
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
  border-radius: 0px !important;
}
.css-t3ipsp-control{
  border: none !important;
  border-bottom: solid !important;
  border-bottom-width: 2px;
  border-radius: 0px !important;
  border-color: #872341 !important;
  box-shadow: none !important;
}

.react-multi-carousel-list{
  height:360px !important;
}

/* hide scroll bar */
::-webkit-scrollbar {
  display: none;
}


/* .select__control{
  border: none !important;
  border-bottom: solid !important;
  border-bottom-width: 1px;
  border-radius: 0px !important;
  border-color: brown !important;
} */
/* #menu- > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-cq2r3m-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  position: absolute !important;
  min-width: 180px !important;
} */


/* #menu- > div.MuiBackdrop-root.MuiBackdrop-invisible.MuiModal-backdrop.css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop,.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
  width: 80% !important;
} */
/* @media screen and (max-width: 640px) {
} */

/*  */
@media screen and (max-width: 820px) {
  .registration-box-wave {
    display: none;
  }

  .registration-box-left {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
}

