
/* main_conatiner */
.main_container{
  height:100vh;
  height: calc(var(--vh, 1vh) * 100);
}
/*..................................................... navbar.....................................  */
.dashicon{
  margin-left: 20px;
}

.user_image{
  width:70px;
  height:70px;
  border-radius: 50%;
}

.sidenav_item{
  padding-left: 50px;
  gap:20px;
}

.submenu_item{
  padding-left:70px;
}


@media screen and (max-width:920px){
  .sidenav_item{
    padding-left: 30px;
  }
  .submenu_item{
    padding-left: 50px;
  }
  
}


.sidenav_link{
  text-decoration: none;
  font-weight:bold;
}

.sidenav_submenulink{
  text-decoration: none;
}

/* page title customization */

.page_title{
  margin-bottom: 15px;
}





/* customization navbar for mobile device */
@media screen and (max-width:890px) {
  
  .nav_grid_deactive{
      position: absolute;
      z-index: 100000;
      right:-50%;
      min-width: 50%;
      Transition: all 0.5s ease-in;
   

  }

  .nav_grid_active{
    position: absolute;
      z-index: 100000;
      right:0%;
      min-width: 50%;
      transition: all 0.5s ease-in;
  }


  .container_grid{
    display: block;
    min-width: 100%;
    border-top-left-radius: 0px !important;
    height:100vh;
  }

  .burger_icon{
    display:block !important;
  }

  .close_icon{
    display: block !important;

  }

  .nav_header{
    padding-top: 40px;
  }

  .page_title{
    font-size: 2rem !important;
  }


}

@media screen and (max-width:600px) {

  .nav_grid_active{
    min-width: 60%;
  }

  
  .sidenav_item{
    padding-left: 12px;
  }
  .submenu_item{
    padding-left: 35px;
  }

  .page_title{
    font-size: 1.3rem !important; 
  }
  
}



/* ..............................................login page............................................... */

.colored_logo{
  width:200px;
}



/*.............................. .................dashboard............................................. */

.count_inner{
  width:12px;
  height:12px;
  background-color: red;
  border-radius: 50%;
  padding:0.2em;
  color:white;
  position: relative;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.bell_container{
  position: relative;
}

.notify_count_container{
  position: absolute;
  top: 2px;
  left:23px;
}

/* dashboard sum icons */

.sum_icon{
  font-size: 20px;
}

/* notification */

.notification{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notify_container{
  display: flex;
  flex-direction: column;
} 



.notify_container::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}

/* Track */
.notify_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.notify_container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;

}

/* Handle on hover */
.notify_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* .................................... Manage Holiday homes page................................ */

/* search input customization */
.custom_input div{
    border-radius: 30px;
    padding-left: 40px;
    background-color: white;
}

.custom_input_container{
  display: inline-block;
  position: relative;
  
}

.custom_input_container input{
  padding:5px 3px;
}

.input_icon{
  position: absolute;
  left:15px;
  top:4px;
  z-index: 1000;
}

.custom_input_outer_container{
  border-radius:30px !important;
  display: inline-block;
  max-width: fit-content;
  padding:5px 8px;  
  background-color: #9b9b9b !important;
}

.custom_input::placeholder{
  font-size: 2rem !important;
  font-weight: 700 !important;

}

@media screen and (max-width:600px) {
  .search_container{
    flex-direction: column-reverse;
  }
  }
  



/* holidayhomes list making */
.homes_container_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;



}
.homes_container_header hr{
  color:rgb(59, 59, 59);
  flex: 1;
  margin-left: 20px;
  
}
.header_title{
    display: flex;
    font-weight: bold;

   
  
  }

 .homes_container_body .button_container{
  display: flex;
  justify-content: center;
  gap:1em;
 }

 .homes_container_body .sub_details{
  font-weight: 500;
 }

  .home_image img{
    width:80px;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
   


  }

  @media screen and (max-width:600px) {
    .homes_container_body{
      justify-content: center;
    }

    .homes_container_header{
      flex-direction: column;
      align-items: flex-start;
    }

    .homes_container_header hr{
      width:100%;
      margin-left: 0;


    }
    
  }

  /* holiday homes card container scroll bar */
  
.holidayhomes_card_container::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}

/* Track */
.holidayhomes_card_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.holidayhomes_card_container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;

}

/* Handle on hover */
.holidayhomes_card_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* manageholiday homes  */

@media screen and (max-width:920px) {

  .holidayhomes_card_container::-webkit-scrollbar {
    display: none;
  }
  

    .homes_container_body{
      display: flex;
      flex-wrap: wrap;

      gap:1em;

    }
    .homes_container_body .home_card{
      flex-direction: column;
      width:fit-content;
      padding:20px;
    }

    .home_card .sub_details{
      
      display: flex;
      justify-content: flex-start;
      width:100%;
    }

    .home_card .button_container{
      margin-top: 10px;
    }

    .home_card .home_image{
      margin-bottom: 10px;
      width:100%;
      display: flex;
      justify-content: center;
    }

    .home_image img{
      width:140px;
    }
  
}

/* ................................ create holiday home page................................... */


/* inputs handling in responsive */


@media screen and (max-width:475px) {
  .input_container{
    flex-direction: column;
   
  }

  .input_container .label_container{
      min-width: 100% !important;
  }
  

  .file_input{
    width:280px !important;
  }
}

/* content container scrolling making*/

.content_container{
  max-height: 90vh;
  overflow-y: scroll;
  
}

/* helper text */
.input_field p {
  color:red !important;
}


/* holiday home break down parts */
.card_item .card_item_title{
  color:black;

}

.card_item{
  display: flex;
  flex-direction: column;
}

.card_item .card_item_value{
  color:rgb(100, 100, 100);

}