.activePage {
    background: aqua;
}

.activeSidePage {
    background: white;
    width: 100%;
    color: #2c2c2c;
    text-decoration: none !important;
    position: relative;
    z-index: 20;
}

.activeSidePage::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #872341;
    bottom:-40px;
    right:0;
    border-radius: 10px;
    z-index: 12;
}
.activeSidePage::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #872341;
    top:-40px;
    right:0;
    border-radius: 10px;
    box-shadow: 45px 45px 0 20px #ffffff;
    z-index: 1;
}

.normaSidePage{
    text-decoration: none !important;
    color: white;
}

.css-5f571a-MuiPaper-root-MuiDrawer-paper{
    border-right: none !important;
}
/* .css-11jwldk-MuiPaper-root-MuiAppBar-root,
.css-5f571a-MuiPaper-root-MuiDrawer-paper{
    position: relative !important;
} */
/* .css-11jwldk-MuiPaper-root-MuiAppBar-root{
    position: relative !important;
} */