.otp-inputs {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 1.5rem;
  width: 40px !important;
  height: 40px;
  margin-bottom: 10px;
  
}

.otp-inputs-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-inputs:focus-visible{
    outline: #872341 auto 2px !important;
}

/* @media screen and (max-width: 900px) {
    .otp-inputs {
        width: 25px !important;
        height: 25px;
        font-size: 1.5rem;
      }
} */
@media screen and (max-width: 600px) {
    .otp-inputs {
        width: 25px !important;
        height: 25px;
        font-size: 1.3rem;
      }
}
